RRTMGP-profile-stats-plots/
intermediate_files/
obsolete/
.ipynb_checkpoints/
*.pdf
*.nc
rrtmgp_garand_atmos
k-distribution-opt
rte-rrtmgp
garand_atmos/*.o*
garand_atmos/*.mod
__pycache__
full_band_flux
band_k_dist
workdir_*
band_*_opt
temp.pickle
run_rrtmgp